<!--打赏 start-->
<div class="reward-box">
  <a>赏</a>
</div>
<div class="reward-pop">
  <div class="reward-tips">
    <span>建议打赏金额1-10元</span>
  </div>
  <div class="QR-inner">
    <div class="">
      <div>
        <img src="{{asset '/images/alipayQR.jpeg'}}" alt="">
      </div>
      <p>支付宝打赏</p>
    </div>
    <div class="">
      <div>
        <img src="{{asset '/images/wechatQR.jpeg'}}" alt="">
      </div>
      <p>微信打赏</p>
    </div>
  </div>
</div>
<!--打赏 end-->
