<ul class="navigation">
  {{#foreach navigation}}
    <li class="navigation__item nav-{{slug}}">
      <a href="{{url}}" class="blog-button" title="{{label}}">{{label}}</a>
  </li>
  {{/foreach}}
</ul>
