<footer class="post-footer clearfix">
  <div class="post-social">
    <section class="share">
      <button  class="btn btn-default need-share-button" style="background-color: transparent;" data-share-position="middleLeft" data-share-icon-style="default" data-share-box-form="horizontal" data-share-networks="Weibo,Wechat,Douban,QQZone,RenRen,Twitter,Pinterest,Facebook,GooglePlus,Reddit,Linkedin,Tumblr"><i class="fa fa-share-alt"></i> 分享</button>
    </section>
  </div>

</footer>
