<footer class="post-footer clearfix">
  <div class="post-social">
    <section class="share">
      <button
          class="need-share-button btn btn-default common-share-btn"
          data-share-position="middleLeft"
          data-share-box-form="horizontal"
          data-share-networks="Weibo,Wechat,Douban,QQZone,RenRen,Twitter,Pinterest,Facebook,GooglePlus,Reddit,Linkedin,Tumblr"
          data-share-icon-style="default"
      >
        <i class="fa fa-share-alt"></i>
        分享
      </button>
    </section>

    <link rel="stylesheet" href="{{asset "css/needsharebutton.css"}}">
    <link rel="stylesheet" href="{{asset "css/custom-share-btn.css"}}">
    <script type="text/javascript" src="{{asset "js/needsharebutton.min.js"}}"></script>
    <script>
      // new needShareDropdown(document.getElementById('common-share-btn'))
    </script>
  </div>
</footer>
